In [115]:
 import warnings
warnings.simplefilter('ignore')

# %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [116]:
movies_df = pd.read_csv('machine learning.csv')
movies_df.head()

,imdb_title_id,original_title,year,genre,country,production_company,duration,votes,budget,usa_gross_income,worldwide_gross_income,rating,metascore
0,tt7374952,Chicano,2018,Drama,USA,Films,108,1016,8000000,1400603,1404646,5.3,46
1,tt0238247,Army,2000,Drama,USA,Films,108,1021,300000,2637726,2637726,6.4,38
2,tt0462579,Treatment,2006,Romance,USA,Shrinkwrap,86,1037,900000,83354,83354,5.8,54
3,tt2094890,George,2013,Drama,USA,Productions,107,1037,750000,157937,157937,6.4,77
4,tt6512428,Indivisible,2018,War,USA,Films,119,1038,2700000,3511417,3589633,5.8,53

In [117]:
X = movies_df[["votes", "metascore", "duration", "budget"]]
y = movies_df["rating"].values.reshape(-1, 1)
print(X.shape, y.shape)

# X = movies_df[["votes", "metascore", "duration", "worldwide_gross_income"]]
# y = movies_df["rating"].values.reshape(-1, 1)
# print(X.shape, y.shape)

# X = movies_df[["metascore", "budget", "duration"]]
# y = movies_df["rating"].values.reshape(-1, 1)
# print(X.shape, y.shape)

(4031, 4) (4031, 1)

In [118]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

X_train.head()

      votes  metascore  duration    budget
2086  47108         75        86    777000
1422  25417         62       118   6000000
296    4626         34       104  90000000
2401  62370         62       112  10000000
507    7718         60       105   4000000

In [119]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [120]:
 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

LinearRegression(n_jobs=1)

In [121]:
 model.score(X_test, y_test)

0.6431998192533028

In [122]:
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.6133193416927964
Testing Score: 0.6431998192533028

In [123]:
 from sklearn.metrics import mean_squared_error

predictions = model.predict(X_test)
MSE = mean_squared_error(y_test, predictions)
r2 = model.score(X_test, y_test)

print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.3462117909661348, R2: 0.6431998192533028